<body class="authentication">
    <!-- Container start -->
    <div class="container">
        <form action="/register" method="post">
            <div class="row justify-content-md-center">
                <div class="col-xl-5 col-md-6 col-sm-12">
                    <div class="login-screen">
                        <div class="login-box">
                            <a href="#" class="login-logo">
                                <img src="/img/version/garden-logo.png" width="60%" alt="" srcset="">
                            </a>
                            <h5>Welcome,<br />Create your Admin Account.</h5>
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="UserName" />
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email Address" />
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="password" class="form-control" name="password" placeholder="Password" />
                                    <!-- <input type="password" class="form-control" placeholder="Conform"> -->
                                </div>
                            </div>
                            <div class="actions">
                                <button type="submit" class="btn btn-primary">Signup</button>
                            </div>
                            <div class="or">
                                <span>or Signup Using</span>
                            </div>
                            <!-- <div class="text-right">
                                <button type="submit" class="btn btn-twitter">Twitter</button>
                                <button type="submit" class="btn btn-facebook">Facebook</button>
                                <button type="submit" class="btn btn-gplus">Gmail</button>
                            </div> -->
                            <div class="m-0">
                                <span class="additional-link">Already have an account? <a href="/admin">Login</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-- Container end -->

</body>